@model DotNetCoreKit.Apis.Models.ManageViewModels.IndexViewModel

<h4>@ViewData["Title"]</h4>
<div>
    <p>Stub for send verification email page.</p>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}